@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #FFF587 , #FF8C64, #FF665A);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #1a08088c;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    text-align: center;
    color: #b67616;
}

h2 {
    color: #cf6a17;
}

p {
    text-align: justify;
}